.main-gallery-slider {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-gallery-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  z-index: 1;
  width: 600px;
  height: 400px;
  transition: transform 0.5s ease;
}

.main-gallery-slider .swiper-slide:not(.swiper-slide-active) {
  filter: blur(2px) brightness(0.7);
}

.main-gallery-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.main-gallery-slider .swiper-wrapper {
  z-index: 1; !important;
    height: auto;
}

.main-gallery-slider .swiper-button-next,
.main-gallery-slider .swiper-button-prev {
  position: absolute; !important;
  top: 50%; !important;
  transform: translateY(-50%); !important;
  z-index: 999; !important;
  width: 50px;
  height: 50px;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 50%;
  color: var(--accent-gold);
  transition: background-color 0.3s ease;
}

.main-gallery-slider .swiper-button-prev {
  left: 10px;
}

.main-gallery-slider .swiper-button-next {
  right: 10px;
}

.main-gallery-slider .swiper-button-next:hover,
.main-gallery-slider .swiper-button-prev:hover {
  background-color: rgba(10, 10, 10, 0.8);
}

.main-gallery-slider .swiper-button-next::after,
.main-gallery-slider .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-gallery-slider .swiper-slide {
    width: 80vw;
    height: 250px;
  }
}