{% load static %}

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta-description %}{% endblock %}">
  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
  <link rel="icon" href="{% static 'img/favicon.svg' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Inter:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />

  {% block extra_css %}{% endblock %}
</head>

<body>
  <header class="header">
    {% include "components/header.html" %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    {% include "components/footer.html" %}
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <script src="{% static 'js/script.js' %}"></script>

  {% block extra_js %}{% endblock %}
</body>
</html>